.accessory {
  margin-top: 4rem;
}

.accessory img {
  width: auto;
  height: auto;
  max-width: 30rem;
  max-height: 30rem;
}

.accessory p {
  font-weight: bold;
  padding: 1rem;
  line-height: 140%;
  font-size: 120%;
}

.accessory ul {
  list-style: disc;
  text-align: left;
  margin-left: 1rem;
  padding: 1rem;
  line-height: 140%;
  width: fit-content;
  margin: 0 auto;
  display: table;
}

.accessory ul li {
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .accessory p {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .accessory img {
    max-width: 80%;
  }
}
