.menu-wrapper {
  position: absolute;
  text-transform: uppercase;
  font-family: sans-serif;
  background: #fff;
  width: 100%;
  top: 5rem;
}

.menu-wrapper h2 {
  font-size: 200%;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.menu-wrapper dl, #all-heads {
  line-height: 150%;
  margin: 1rem;
}

.menu-wrapper dl dt, #all-heads {
  font-size: 150%;
  padding-bottom: 0.75rem;
}

.menu-wrapper dl dd a, #all-heads {
  color: #000;
  text-decoration: none;
}

.menu-wrapper dl dd a:hover, #all-heads:hover {
  text-decoration: underline;
}
